h2.item-title {
    font-size: 0.98em;
    margin-top: 6px;
}
h3.item-title {
    font-size: 0.98em;
    margin-top: 6px;
}
textarea.php-code {
    font-family: 'Courier New';
    font-size: 9pt;
}
div.table-item {
    cursor: pointer;
    color: blue;
}
.text-bold {
    font-weight: bold;
}